body{
    background-color: rgb(179, 196, 246);
}

*{
    margin: 10px;
    padding: 10px;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 20px;
    display: grid;
    transition: background-color 0.25s;
    color: #1e1e1e;
    background: linear-gradient(
      to bottom right,
      #faeeff 25%,
      #484f63 50%,
      #2b3141 75%,
      #000
    );
    background-size: 300% 300%;
    background-position: top left;
    transition: background-position 0.5s;
  }
  .input-control {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  
  body:has(#darkmode-toggle:checked) {
    background-position: 100% 100%;
    color: #d0d0d0;
  }
  
  .toggle {
    font-size: 2rem;
    border: 0.125em solid currentColor;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    position: relative;
    width: 3.75em;
    height: 2em;
  
    &::before,
    &::after {
      content: "";
      display: block;
      border-radius: 1em;
      position: absolute;
      z-index: 1;
    }
  
    &::before {
      background-color: #ffc409;
      outline: 0.25em dotted #ffc409;
      outline-offset: 0.125em;
      inset: 0.7em;
      width: 0.625em;
      height: 0.625em;
    }
  
    &::after {
      box-shadow: 0.25em 0.25em #2B3141;
      right: 0.9em;
      top: 0.125em;
      width: 1.125em;
      height: 1.125em;
    }
  
    span {
      background-color: currentColor;
      border-radius: 2em;
      display: block;
      overflow: hidden;
      position: absolute;
      inset: 0.25em;
      transition: left 0.25s;
      width: 1.5em;
      height: 1.5em;
      z-index: 2;
    }
  }
  
  input:checked ~ .toggle span {
    left: 2em;
  }
  
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  nav{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 16px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(14, 124, 233);
    color: rgb(250, 252, 253);
}

nav ul li{
    padding: 0 12px;
    row-gap: 100px;
    font-size: 25px;
}
ul li:hover {
    color: rgb(237, 249, 249);
    max-width: fit-content;
    pointer-events: stroke;
    cursor: pointer;
}

ul li a{
    color: black;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.image {
    height: 500px;
    display: flex;
    padding: 0 8px;
    margin-left: 320px;
}

.bio{
    border-color: black;
    border-style: solid;
    border-width: 5px;
}